*{
    margin: 0px;
    padding: 0px;
    /* background-color: #141414; */
}

/* Header Section Starts Here */

.header {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}

.header .name a{
    color: #a9afc3;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.header .name a:visited{
    color: #a9afc3;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.header .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    width: 180px;
    cursor: pointer;
}

.header .icons .sub{
    position: relative;
    z-index: 100;
}


.header .icons p{
    font-size: 13px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #d00404;
    border-radius: 50%;
    padding: 3px 7px;
    color: #ffffff;
    position: absolute;
    z-index: 1000;
    top: -10px;
    left: 22px;
}

.header .icons .fa-solid{
    color: #a9afc3;
    font-size: 18px;
}


/* Header Secion Ends Here */


/* ProductInfo Section Starts Here */

.mainProductInfo{
    display: flex;
    padding: 50px 20px 150px 20px;
    background-color: #141414;
}

.mainProductInfo .leftImages{
    margin-left: 40px;
}

.mainProductInfo .leftImages .selectImage{
    width: 110px;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 50px;
    border: 1px solid #3b3d3f;
}

.mainProductInfo .leftImages .selectImage img{
    width: 100%;
}

.mainProductInfo .mainImage{
    width: 680px;
}

.mainProductInfo .mainImage img{
    width: 100%;
}

.stars{
    display: flex;
    margin: 30px 0px 40px 0px;
    align-items: center;
}

.stars .star{
    padding-right: 5px;
    color: #d00404;
    font-size: 13px;
}

.rightInformamtion{
    padding-left: 20px;
    width: 550px;
}

.rightInformamtion .productName{
    color: #838897;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
}

.rightInformamtion .productDesc{
    color: #838897;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.rightInformamtion .stars p{
    color: #57585c;
    font-size: 20px;
}

.rightInformamtion .pricing .pri .price{
    color: #a1a8bd;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

.rightInformamtion .pricing{
    display: flex;
    align-items: center;
    padding: 50px 10px 50px 0px;
    border-top: 1px solid #57585c;
    border-bottom:  1px solid #57585c;
    justify-content: space-between;
}

.rightInformamtion .pricing .pri .price .cutPrice{
    color: #6c757d;
    font-size: 25px;
    padding-left: 10px;
}

.rightInformamtion .pricing .inStock{
    background-color: #008000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    color: #a8adbe;
    font-weight: 600;
}

.rightInformamtion .pricing .pri .saving{
    color: #008000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 200;
}

.rightInformamtion .pricing .pri .inclusive{
    color: #6c757d;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-top: 10px;
}

.rightInformamtion .offers{
    padding: 50px 0px;
    border-bottom: 1px solid #57585c;
}

.rightInformamtion .offers .offersHeading{
    color: #838897;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

.rightInformamtion .offers .applicableoffers{
    display: flex;
    justify-content: start;
}

.rightInformamtion .offers .applicableoffers .offerCard{
    border: 1px solid #6c757d;
    border-radius: 5px;
    color: #838897;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-right: 15px;
    padding: 8px;
}

.rightInformamtion .applicableoffers .offerCard{
    color: #a1a8bd;
}

.rightInformamtion .addToCart{
    background-color: #d00404;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    font-weight: 500;
    cursor: pointer;
}
/* ProductInfo Section Ends Here */


/* Specification Section Starts Here */

.specification{
    background-color: #141414;
}

.specification .specsList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.specification .specsList li{
    margin: 10px 50px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 3px;
}

.specification .specsList li:hover{
    background-color: #d00404;
}

.specification .specsInfo{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 50px 0px 0px 40px;
}

.specification .specsInfo .specsTitle{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.specification .specsInfo .specDsc {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.specification .specsInfo .specsTitle li{
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 20px;
    color: #838897;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.specification .specsInfo .specDsc li{
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 20px;
    color: #a1a8bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
/* Specification Section Ends Here */


/* Related Products Section Starts Here */

.relatedProducts{
    padding: 250px 0px 100px 0px;
    background-color: #141414;
}

.product{
    display: flex;
    padding: 80px 20px 50px 20px;
    justify-content: space-between;
}

.relatedProducts .relPHeading{
    color: #6c757d;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .card{
    border: 1px solid #6c757d;
    width: 340px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.card .stars{
    display: flex;
    margin-top: 10px;
    margin: 30px 0px 20px 0px;
}

.card .stars .star{
    padding-right: 10px;
    font-size: 13px;
}

.product .card .price{
    color: #a1a8bd;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    padding-bottom: 40px;
    padding-bottom: 0px;
    font-size: 30px;
}

.product .card .price .cutPrice {
    color: #6c757d;
    font-size: 20px;
}


.product .card .shopNow{
    width: 100%;
    margin-top: 20px;
}

.product .card hr{
    /* margin-top: 20px; */
    margin: 20px 0px;
    border: 1px solid #6c757d;
}

.product img {
    width: 250px;
    margin: 10px 40px 10px 40px;
}

.product img:hover{
    transform: scale(1.1);
}

.shopNow {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px 15px 30px;
    background-color: #d00404;
    color: #ffffff;
    width: 100%;
    margin-top: 20px;
}

.product .productTitle {
    color: #838897;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-top: 10px;
}

.product .productDesc {
    color: #838897;
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.relatedProducts .mainBase{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.relatedProducts .base {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.relatedProducts .base .baseCircles {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #323337;
}

/* Related Products Section Ends Here */


/* Advantage Section Starts Here */

.mainHead{
    background-color: #141414;
    padding-bottom: 100px;
}

.mainHead .mHeading{
    color: #6c757d;
    /* padding-bottom: 50px; */
    padding: 100px 0px;
    display: flex;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    justify-content: center;
}

.ourAdvantages{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    /* border: 10px solid #838897; */
}

.advantages{
    display: flex;
    padding: 10px;
    align-items: center;
}

.advantages .left .fa-solid{
    font-size: 40px;
    color: #d00404;
}

.advantages .right{
    padding-left: 20px;
}

.advantages .right h1{
    color: #6c757d;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.advantages .right p{
    color: #59595a;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Advantage Section Ends Here */


/* Footer Starts Starts Here */

.footer{
    background-color: #000000;
    padding: 20px;
    display: flex;
    /* align-items: center; */
    align-content: space-between;
    padding: 40px 20px;
    border-bottom: 1px solid #232323;
}

.footer .left{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 40px;
}

.footer .left .footerHeading{
    color: #a9afc3;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

.footer .left .footerDesc{
    color: #6c757d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 18px;
}

.footer .left .footerEmail{
    border: 1px solid #3d3d3d;
    border-radius: 3px;
    padding: 8px 50px 8px 20px;
    margin-bottom: 20px;
    background-color: #000000;
    width: 200px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer .left .subcribe{
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 25px 10px 25px;
    background-color: #d00404;
    color: #ffffff;
    cursor: pointer;
}

.footer .right{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.footer .right ul{
    list-style-type: none;
}

.footer .right ul li{
    margin-bottom: 15px;
}

.footer .right ul .help0,.policies0,.company0{
    color: #a9afc3;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}


.footer .right ul li a{
    color: #838897;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer .right ul li a:hover{
    text-decoration: none;
    color: #c2c3c7;
}

.finFooter{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.finFooter .rights{
    color:#838897;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.finFooter .footerIcons .fa-brands{
    color: #6c757d;
    padding: 0px 15px;
    font-size: 20px;
    cursor: pointer;
}

/* Footer Starts Ends Here */